.header{
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    
    background-image: url(../../assets/header/bg3.png);
    background-color: hsla(22, 100%, 57%, 1);
    background-size: cover;
    background-position: center;    
    outline: 1px solid hsla(22, 100%, 57%, 1);
    overflow: hidden;
}